<nav class="navbar navbar-inverse">

  <a href="<%= root_path %>"><%= image_tag ("flashdealguy1.png"), class: "imgheader" %></a>
  <% if current_restaurant %>
    <%= link_to 'Log Out', logout_path, class: 'btn btn-small nav-item' %>
  <% else %>
  <% end %>
</nav>
<div class='bakery'>

  <div class="col-sm-3 col-sm-offset-4">
    <%= link_to "Don't Have an Account? Sign Up", new_restaurant_path %>



    <h1>Log in</h1>
    <%= form_tag sessions_path do %>
      <div class="form-group">
        <%= label_tag :email %><br>
        <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email"  %>
      </div>

      <div class="form-group">
        <%= label_tag :password %><br>
        <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Password"  %>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Login</button>
      </div>
    <% end %>



  </div>
</div>
