<%= form_for ([@restaurant, @coupon]), html: { multipart: true }  do |f| %>

  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-sm-6 col-sm-offset-3">
  <div class="form-group frm">
    <%= f.text_field :title, class: "form-control", placeholder:"Title" %>
  </div>
  <div class="form-group frm">
    <%= f.text_field :price, class: "form-control", placeholder:"Price" %>
  </div>
  <div class="form-group frm">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time, class: "form-control" %>
  </div>
  <div class="form-group frm">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time, class: "form-control"%>
  </div>

  <div class="form-group frm">
    <%= f.number_field :max_count, class: "form-control", placeholder:"Qty Available" %>
  </div>
  <div class="form-group frm">
    <%= f.text_field :promocode, class: "form-control", placeholder:"Promo Code" %>
  </div>
  <div class="form-group">
    <%= f.label :picture %><br>
    <%= f.file_field :picture, enctype:"multipart/form-data", action:'/photos', :'data-classButton' => 'btn btn-primary' %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
  </div>
<% end %>
