<div class="restaurantonly1">

<nav class="navbar navbar-inverse">
  <span><%= link_to 'Edit Profile', edit_restaurant_path(@current_restaurant), class: 'btn btn-small nav-item' %></span>

  <a href="<%= root_path %>"><%= image_tag ("flashdealguy1.png"), class: "imgheader" %></a>
  <% if current_restaurant %>
    <span><%= link_to 'Log Out', logout_path, class: 'btn btn-small nav-item-left' %></span>
  <% else %>
  <% end %>
</nav>





  <div class="container1 text-center">
    <p id="notice"><%= notice %></p>
    <h2 id="header-coupon">My Promotion list</h2>
    <%= link_to 'New Coupon?', new_restaurant_coupon_path, :class => "btn btn-primary btn-lg" %>




    <% counter = 1 %>

    <% @coupons.each do |coupon| %>


    <a href="<%= coupon_path(coupon) %>" class="coupononly">
            <div class="coupon-on-index">
            <div class="coupon-picture">
              <%= image_tag coupon.picture.url(:thumb), class:"img-circle" %>
            </div>
            <ul id="coupon">
              <li>
                <div class="coupon-title">
                  <h3><%= coupon.title %>
                </div>
              </li>
              <li>
                <div class="coupon-countdown">
                  Expires in:
                  <%= content_tag(:div,'', :class => "tim_#{counter}") %>
                     </h3>

                </div>
              </li>
            </ul>
            <div class="coupon-price">
              $<%= coupon.price %>
            </div>

            <div id="count">
              <%= content_tag(:span, coupon.end_time.hour, :class => "hour_#{counter}") %>
              <%= content_tag(:span, coupon.end_time.min, :class => "min_#{counter}") %>
              <% counter += counter %>

            </div>

        </div>
</a>

        <% end %>

      </table>

</div>

</div>
