





<div class="restaurantonly1">


  <% if current_restaurant %>
    <p class='logoutbutton'>
      <%= link_to 'Log Out', logout_path, class: 'btn btn-info' %>
    </p>
  <% else %>
    <p class='loginbutton'>
      <%= link_to 'Login', new_sessions_path, class: 'btn btn-info' %>
    </p>
  <% end %>





  <div class="container">
    <p id="notice"><%= notice %></p>
    <h2 id="header-coupon">My Promotion list</h2>
    <%= link_to 'New Coupon?', new_restaurant_coupon_path, :class => "btn btn-primary btn-lg" %>



    <%if @coupons.empty? %>

    <%else%>
    <% counter = 1 %>

    <% @coupons.each do |coupon| %>


    <a href="<%= coupon_path(coupon) %>">
            <div class="coupon-on-index">
            <div class="coupon-picture">
              <%= image_tag coupon.picture.url(:thumb), class:"img-circle" %>
            </div>
            <ul id="coupon">
              <li>
                <div class="coupon-title">
                  <h3><%= coupon.title %>
                </div>
              </li>
              <li>
                <div class="coupon-countdown">
                  Expires in:
                  <%= content_tag(:div,'', :class => "tim_#{counter}") %>
                     </h3>

                </div>
              </li>
            </ul>
            <div class="coupon-price">
              $<%= coupon.price %>
            </div>

            <div id="count">
              <%= content_tag(:span, coupon.end_time.hour, :class => "hour_#{counter}") %>
              <%= content_tag(:span, coupon.end_time.min, :class => "min_#{counter}") %>
              <% counter += counter %>

            </div>

        </div>
</a>

        <% end %>
        <% end %>
      </table>

</div>

</div>
