<p id="notice"><%= notice %></p>

<p>
  <strong>Coupon:</strong>
  <%= @coupon.title %>
</p>


<p>
  <strong>Price:</strong>
  <%= @coupon.price %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @coupon.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @coupon.end_time %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @coupon.expiration %>
</p>

<p>
  <strong>Max count:</strong>
  <%= @coupon.max_count %>
</p>

<p>
  <strong>Restaurant name:</strong>
  <%= @coupon.restaurant.name %>
</p>
<p>
  <strong>Restaurant:</strong>
  <%= image_tag @coupon.restaurant.logo %>
</p>

<%= image_tag @coupon.picture.url(:medium) %>

<%= link_to 'Follow this Restaurant!', new_customer_path(:coupon_id => @coupon.id) %>
<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
