<p id="notice"><%= notice %></p>
<% if current_restaurant %>

<% else %>

  <%= form_for (@phone)  do |f| %>
    <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile %>
    <%= f.submit 'Claim this Coupon!' %>
    </div>
  <% end %>
<% end %>

<p>
  <strong>Coupon:</strong>
  <%= @coupon.title %>
</p>
<p><%= image_tag @coupon.picture.url(:medium) %></p>


<p>
  <strong>Price:</strong>
  <%= @coupon.price %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @coupon.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @coupon.end_time %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @coupon.expiration %>
</p>

<p>
  <strong>Number of Remaining Coupons:</strong>
  <%= @coupon.max_count %>
</p>

<h3>Restaurant Information: </h3>
<p>
  <strong>Restaurant name:</strong>
  <%= @coupon.restaurant.name %>
  <%= image_tag @coupon.restaurant.logo %>
</p>




<%= link_to 'Follow this Restaurant!', new_customer_path(:coupon_id => @coupon.id) %>|
<% if current_restaurant %>
  <%= link_to 'Edit', edit_coupon_path %>|
<% else %>
<% end %>
<%= link_to 'Back', coupons_path %>
