<%= form_for (@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>
  <div class="field">
    <div class="phone-text">
    <%= f.label :enter_your_phone_number %><br>
    <%= f.text_field :phone_number, class:"form-control", placeholder:"Phone Number"%>
    </div>
  </div>
</center>
  <div class="field">

    <%= f.hidden_field :coupon_id, :value => params[:coupon_id] %>
  </div>
  <div class="field">
    <%= f.hidden_field :latitude %>
  </div>
  <div class="field">
    <%= f.hidden_field :longitude %>
  </div>

  <div class="actions text-center">
    <div class="follow-btn">
    <%= f.submit 'Follow Establishment', class:"btn-lg btn-danger" %>
    </div>
  </div>
<% end %>
