


  <%= form_for(@restaurant, multipart: true) do |f| %>
    <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

        <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="container-fluid">
      <div class="row">








        <div class="col-sm-6 col-sm-offset-3">

          <h1>Restaurant Sign Up</h1>

          <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
          </div>
          <div class="form-group">
            <%= f.label :email %><br>
            <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= f.label :password %><br>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Re-enter Password" %>
          </div>
          <div class="form-group">
            <%= f.label :address %><br>
            <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
          </div>
          <div class="field">
            <%= f.hidden_field :latitude %>
          </div>
          <div class="field">
            <%= f.hidden_field :longitude %>
          </div>
          <div class="form-group">
            <%= f.label :logo %><br>
            <%= f.file_field :logo, enctype:"multipart/form-data", action:'/photos' %>
          </div>
          <div>
            <button type="submit" class="btn btn-success">Join!</button>
          </div>
        </div>
        <% end %>





      </div>
    </div>
