<p id="notice"><%= notice %></p>

<p>
  <strong>Business Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Business Address:</strong>
  <%= @restaurant.address %>
</p>

<p>

  <% @restaurant.latitude %>
</p>

<p>

  <% @restaurant.longitude %>
</p>
<%= image_tag @restaurant.logo.url(:medium) %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'New Coupon', new_restaurant_coupon_path(@restaurant) %>
