<nav class="navbar navbar-inverse">

  <a href="<%= root_path %>"><%= image_tag ("flashdealguy1.png"), class: "imgheader" %></a>
  <% if current_restaurant %>
    <%= link_to 'Log Out', logout_path, class: 'btn btn-small nav-item' %>
  <% else %>
  <% end %>
</nav>
<p>
  <strong>Business Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Business Address:</strong>
  <%= @restaurant.address %>
</p>

<p>

  <% @restaurant.latitude %>
</p>

<p>

  <% @restaurant.longitude %>
</p>
<%= image_tag @restaurant.logo.url(:medium) %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'New Coupon', new_restaurant_coupon_path(@restaurant) %>
